.DS_Store
notebooks/.ipynb_checkpoints
notebooks/04_explore_python_data_types_for_data_science/FINISH/.ipynb_checkpoints
notebooks/04_explore_python_data_types_for_data_science/START/.ipynb_checkpoints
notebooks/05_explore_variables_strings_sequences_data_science/FINISH/.ipynb_checkpoints
notebooks/05_explore_variables_strings_sequences_data_science/START/.ipynb_checkpoints
notebooks/06_explore_math_operators_bools/FINISH/.ipynb_checkpoints
notebooks/06_explore_math_operators_bools/START/.ipynb_checkpoints
notebooks/07_reuseable_python_funcs/FINISH/.ipynb_checkpoints
notebooks/07_reuseable_python_funcs/START/.ipynb_checkpoints
notebooks/08_write_python_loops/FINISH/.ipynb_checkpoints
notebooks/08_write_python_loops/START/.ipynb_checkpoints
notebooks/09_python_builtin_methods/FINISH/.ipynb_checkpoints
notebooks/09_python_builtin_methods/START/.ipynb_checkpoints
notebooks/09_python_builtin_methods/START/arch
notebooks/10_write_code_using_oop_concepts_for_ds/FINISH/.ipynb_checkpoints
notebooks/10_write_code_using_oop_concepts_for_ds/START/.ipynb_checkpoints
notebooks/13_collect_realtime_data_webscraping_beautifulsoup/FINISH/.ipynb_checkpoints
notebooks/13_collect_realtime_data_webscraping_beautifulsoup/START/.ipynb_checkpoints
notebooks/14_wrangling_data_pandas/.ipynb_checkpoints
notebooks/14_wrangling_data_pandas/FINISH/.ipynb_checkpoints
notebooks/14_wrangling_data_pandas/START/.ipynb_checkpoints
notebooks/15_work_with_arrays_with_numpy/START/.ipynb_checkpoints
notebooks/16_visualize_data_with_matplotlib/FINISH/.ipynb_checkpoints
notebooks/16_visualize_data_with_matplotlib/START/.ipynb_checkpoints
notebooks/17_visualizing_seaborn/FINISH/.ipynb_checkpoints
notebooks/17_visualizing_seaborn/START/.ipynb_checkpoints
notebooks/Untitled.ipynb